* {
	font-family: monospace;
	font-size: 100%;
}

/*external style for paragraph*/
#external-style {
	color: rebeccapurple;
}

/* type selector for h1 */
h1 {
	font-size: 240%;
}

/* id selector for h2 */
h2#_uppercase {
	text-transform: uppercase;
}

/* class selector */
li.bgcolor {
	background-color: deepskyblue;
}

/* attribute selector */
ol[type="1"] > li {
	border: 1px solid hotpink;
}

/* adjacent sibling selector */
img + ul {
	letter-spacing: 7px;
}

/* descendant selector */
body img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

/* general sibling selector */
ul ~ p {
	text-align: center;
}

/* child selector */
ul > li {
	list-style-type: none;
}